<!doctype html>

<html lang = "en">
<head> 
<title> Index Schedule </title>
<link rel = "stylesheet" type = "text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body> 
<h1 class = "head">
Schedule
 </h1>
 
 <table id = "schedule">
 <tr>
 <th>Assignment</th>
 <th>Submission Deadline</th>
 <th>Date Of Tutorial</th>
 </tr>
 <tr>
    <td>Assignment 1</td>
    <td>01.01.2021</td>
    <td>02.01.2021</td>
  </tr>
  <tr>
    <td>Assignment 2</td>
    <td colspan="2">01.02.2021</td>
  </tr>
   <tr>
    <td>Assignment 3</td>
    <td>01.03.2021</td>
    <td>02.03.2021</td>
  </tr>
   <tr>
    <td>Assignment 4</td>
    <td rowspan = "2">01.04.2021</td>
    <td>02.04.2021</td>
  </tr>
    <tr>
    <td>Assignment 5</td>
    
    <td>02.05.2021</td>
  </tr>
 
 </table>
</body>